<<<<<<< HEAD
ul {
    list-style: none;
    padding-left: 5px;
    text-align: center;
}

li {
    font-size: larger;
    font-weight: bolder;
=======
ul {
    list-style: none;
    padding-left: 5px;
    text-align: center;
}

li {
    font-size: larger;
    font-weight: bolder;
>>>>>>> a9746564701b9bf28550d2a070bdff1e48c3a263
}